body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-white {
    background: linear-gradient(135deg, white, aliceblue);
}

.living-room {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        pointer-events: none;
    }

    .couch { z-index: 1; }
    .joe { z-index: 2; }
    .tv { z-index: 3; }
}

@media (max-width: 800px) {
    .living-room img {
        width: 200%;
    }
}